<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <configSections>
    <sectionGroup name="microsoft.web" type="Microsoft.Web.Configuration.MicrosoftWebSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
      <sectionGroup name="scripting" type="Microsoft.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <sectionGroup name="webServices" type="Microsoft.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
          <section name="jsonSerialization" type="Microsoft.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false"/>
          <section name="profileService" type="Microsoft.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false"/>
          <section name="authenticationService" type="Microsoft.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <!--xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">-->


  <!--<appSettings>
    <add key="ConnectionString" value="Server=52.224.6.25,1433\Server\SQLEXPRESS;Persist Security Info=True; Database=AgentPortal;UID=sqladmin;PWD=1eceComtech75!;"/>
    <add key="ConnectionStringPartner" value="Server=52.224.6.25,1433\Server\SQLEXPRESS;Persist Security Info=True; Database=AgentPortal;UID=partner;PWD=1eceComtech75!;"/>
    <add key="ConnectionStringACT" value="Server=52.224.6.25,2433\Server\ACT7;Persist Security Info=True; Database=LAContacts;UID=ACTLOGIN;PWD=1eceComtech75!;"/>
    <add key="eSecurityConnectString" value="server=52.224.6.25,1433\Server\SQLEXPRESS;Persist Security Info=True;Database=Token;uid=partner;pwd=1eceComtech75!;"/>
    <add key="ConnectionStringAppUser" value="Server=52.224.6.25,1433\Server\SQLEXPRESS;Persist Security Info=True; Database=AgentPortal;UID=onlineappuser;PWD=1eceComtech75!;"/>
    <add key="AppID" value="1"/>
  </appSettings>-->

  <appSettings>
    <add key="ConnectionString" value="Server=SERVER-R310;Persist Security Info=True; Database=AgentPortal;UID=sqladmin;PWD=lacmrce567;"/>
    <add key="ConnectionStringPartner" value="Server=SERVER-R310;Persist Security Info=True; Database=AgentPortal;UID=partner;PWD=comm753sql;"/>
    <add key="ConnectionStringACT" value="Server=52.224.6.25,2433\Server\ACT7;Persist Security Info=True; Database=LAContacts;UID=ACTLOGIN;PWD=1eceComtech75!;"/>
    <add key="eSecurityConnectString" value="server=SERVER-R310;Persist Security Info=True;Database=Token;uid=partner;pwd=comm753sql;"/>
    <add key="ConnectionStringAppUser" value="Server=SERVER-R310;Persist Security Info=True; Database=AgentPortal;UID=onlineappuser;PWD=1Success11;"/>
    <add key="AppID" value="1"/>
  </appSettings>

	<connectionStrings>
		<add name="eSecurityConnectString" connectionString="Server=SERVER-R310;Persist Security Info=True; MultipleActiveResultSets=true; Database=Token;UID=partner;PWD=comm753sql;"/>
		<add name="ConnectionStringPartner" connectionString="Server=SERVER-R310;Persist Security Info=True; MultipleActiveResultSets=true; Database=AgentPortal;UID=sqladmin;PWD=lacmrce567;"/>
	</connectionStrings>


  <system.web>
    <httpRuntime maxRequestLength="1048576" executionTimeout="3600"/>
    <sessionState cookieless="false" timeout="3600"/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <authentication mode="Forms">
      <forms name=".affiliates" loginUrl="index.aspx" protection="All" timeout="3600" path="/"/>
    </authentication>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <!--<add assembly="Microsoft.Office.Interop, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>-->
        <!--<add assembly="Microsoft.Office.Interop.Excel, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>-->
        <!--<add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>-->
        <!--<add assembly="Microsoft.Vbe.Interop, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>-->
        <add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <!--<authentication mode="Windows"/>-->
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="web@commercetech.com">
        <network defaultCredentials="false" userName="web@commercetech.com" password="1Success11!" host="smtpout.office365.com" port="587"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
    <handlers>
      <remove name="WebServiceHandlerFactory-ISAPI-2.0"/>
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="no-cache" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>