@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.body-exl {
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    display: flex;
    text-align: center;
    /* font-family: poppins; */
}

.card-exl {
    margin-top: 5px;
    /* border-radius: 10px; */
    padding: 2px;
    box-sizing: border-box;
    /* background: #dee5f8; */
    /* box-shadow: 6px 6px 8px #cbced1, -6px -6px 8px white; */
}

.inputs-exl {
    text-align: center;
    margin-top: 25px;
}

.input-exl {
    text-align: center;
    background: #ffffff;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    font-size: 18px;
    /* box-shadow: inset 2px 2px 2px #cbced1, inset -2px -2px 2px white; */
    margin-top: 5px;
}

.button-exl {
    color: white;
    margin-top: 15px;
    background: #7470e0;
    height: 40px;
    /* border-radius: 20px; */
    cursor: pointer;
    /* font-weight: 900; */
    /* box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white; */
    transition: 0.5s;
    width: 100px;
}
.modal-content {
    display: contents;
}
