.facebook-login-button{
  background: #4267b2;
    border-radius: 5px;
    color: white;
    height: 40px;
    text-align: center;
    width: 200px;
    margin-right: 2.25rem;
    margin-left: 2.25rem;
}

