<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="microsoft.web" type="Microsoft.Web.Configuration.MicrosoftWebSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
      <sectionGroup name="scripting" type="Microsoft.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <sectionGroup name="webServices" type="Microsoft.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
          <section name="jsonSerialization" type="Microsoft.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false"/>
          <section name="profileService" type="Microsoft.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false"/>
          <section name="authenticationService" type="Microsoft.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="defaultPage" value="default.aspx"/>
    <!--<add key="ConnectionStringAff" value="Server=52.224.6.25,1433\Server\SQLEXPRESS;Persist Security Info=True; Database=AffiliateWiz;UID=affiliate;PWD=1eceComtech75!;"/>
    <add key="ConnectionStringPartner" value="Server=52.224.6.25,1433\Server\SQLEXPRESS;Persist Security Info=True; Database=AgentPortal;UID=partner;PWD=1eceComtech75!;"/>
    <add key="ConnectionString" value="Server=52.224.6.25,1433\Server\SQLEXPRESS;Persist Security Info=True; Database=AgentPortal;UID=sqladmin;PWD=1eceComtech75!;"/>
    <add key="eSecurityConnectString" value="server=52.224.6.25,1433\Server\SQLEXPRESS;Persist Security Info=True;Database=Token;uid=partner;pwd=1eceComtech75!"/>
    <add key="ConnectionStringACT" value="Server=52.224.6.25,2433\Server\ACT7;Persist Security Info=True; Database=LAContacts;UID=SA;PWD=1eceComtech1!;"/>-->
    <!-- <add key="ConnectionStringACT" value="Server=SERVER-R320\ACT7;Persist Security Info=True; Database=LAContacts;UID=SA;PWD=F#i2o,Z4n?228o3M6I;"/>-->
    <add key="ConnectionStringAff" value="Server=52.224.6.25,1433\Server\MSSQLSTANDARD;Persist Security Info=True; Database=AffiliateWiz;UID=partner;PWD=comm753sql;"/>
    <add key="ConnectionStringPartner" value="Server=52.224.6.25,1433\Server\MSSQLSTANDARD;Persist Security Info=True; Database=AgentPortal;UID=partner;PWD=comm753sql;"/>
    <add key="ConnectionString" value="Server=52.224.6.25,1433\Server\MSSQLSTANDARD;Persist Security Info=True; Database=AgentPortal;UID=sqladmin;PWD=lacmrce567;"/>
    <add key="eSecurityConnectString" value="server=52.224.6.25,1433\Server\MSSQLSTANDARD;Persist Security Info=True;Database=Token;uid=partner;pwd=comm753sql"/>
    <add key="ConnectionStringACT" value="Server=52.224.6.25,2433\Server\ACT7;Persist Security Info=True; Database=LAContacts;UID=ACTLOGIN;PWD=1eceComtech75!;"/>
  </appSettings>
  <system.webServer>
    <staticContent>
      <clientCache httpExpires="Sun, 29 Mar 2020 00:00:00 GMT" cacheControlMode="UseExpires"/>
    </staticContent>
    <rewrite>
      <globalRules>
        <rule name="Redirect to HTTPS" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" ignoreCase="true" negate="false"/>
          <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
            <add input="{HTTPS}" ignoreCase="true" matchType="Pattern" negate="false" pattern="OFF"/>
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" redirectType="Permanent"/>
        </rule>
      </globalRules>
    </rewrite>
    <!--<rewrite>
      <rules>
        <rule name="Enforce canonical hostname" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^firstaffiliates\.com$" />
            <add input="{HTTP_HOST}" negate="true" pattern="^www\.firstaffiliates\.com$" />
            <add input="{SERVER_PORT_SECURE}" pattern="^0$" />
          </conditions>
          <action type="Redirect" url="https://www.firstaffiliates.com/{R:1}" redirectType="Permanent" />
        </rule>
        <rule name="Enforce canonical hostname ssl" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^firstaffiliates\.com$" />
            <add input="{HTTP_HOST}" negate="true" pattern="^www\.firstaffiliates\.com$" />
            <add input="{SERVER_PORT_SECURE}" pattern="^1$" />
          </conditions>
          <action type="Redirect" url="https://www.firstaffiliates.com/{R:1}" redirectType="Permanent" />
        </rule>
        <rule name="Enforce canonical hostname ssl" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^XXX\.XXX\.XXX\.XXX" />
            <add input="{HTTP_HOST}" negate="true" pattern="^www\.firstaffiliates\.com$" />
            <add input="{SERVER_PORT_SECURE}" pattern="^1$" />
          </conditions>
          <action type="Redirect" url="https://www.firstaffiliates.com/{R:1}" redirectType="Permanent" />
        </rule>
        <rule name="Enforce canonical hostname ssl" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^XXX\.XXX\.XXX\.XXX" />
            <add input="{HTTP_HOST}" negate="true" pattern="^www\.firstaffiliates\.com$" />
            <add input="{SERVER_PORT_SECURE}" pattern="^1$" />
          </conditions>
          <action type="Redirect" url="https://www.firstaffiliates.com/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>-->
    <httpProtocol>
      <customHeaders>
        <clear/>
        <remove name="X-Powered-By"/>
        <remove name="X-AspNet-Version"/>
        <remove name="X-AspNetMvc-Version"/>
        <remove name="Server"/>
      </customHeaders>
    </httpProtocol>
    <httpRedirect enabled="false"/>
  </system.webServer>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <!--<customErrors mode="RemoteOnly" defaultRedirect="mycustompage.htm"/>-->
    <httpRuntime enableVersionHeader="false"/>
    <authentication mode="Forms">
      <forms name=".affiliates" loginUrl="default.aspx" timeout="60"/>
    </authentication>
    <sessionState timeout="60"/>
    <!--<customErrors mode="RemoteOnly" defaultRedirect="mycustompage.htm"/>-->
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <compilation debug="false" targetFramework="4.8">
      <!--<buildProviders>
        <add extension=".asp" type="System.Web.Compilation.PageBuildProvider"/>
      </buildProviders>-->
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <!--<add assembly="NuGet.Core, Version=1.0.11220.104, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>-->
      </assemblies>
    </compilation>
    <!-- <httpHandlers>
      <add path="*.asp" verb="*" type="System.Web.UI.PageHandlerFactory" validate="true"/>
    </httpHandlers>-->
    <pages enableEventValidation="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="sales@commercetech.com">
        <network defaultCredentials="false" userName="sales@commercetech.com" password="1Success11!" host="smtp.office365.com" port="587"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>