#license-verification-wrapper .products-container {
    height: auto;
}

#capture-user-button-upload .button {
    border: none;
    cursor: pointer;
    overflow: hidden;
}

#license-verification-heading-wrapper .header-font {
    margin: 0;
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

#license-verification-heading-wrapper .body-font {
    margin: 0;
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;

}