.form-main {
    padding: 100px;
    padding-top: 12%;
    padding-bottom: 7%;
    text-align: center !important;
    margin-left:30%;
    width: 40% !important;
}

.form-text-under {
    padding-top: 7%
}

.form-header {
    width: 107%;
    padding-bottom: 3%;
    padding-right: 10%;
}