vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|17 Jul 2007 22:22:26 -0000
vti_extenderversion:SR|4.0.2.3406
vti_cacheddtm:TX|17 Jul 2007 22:22:26 -0000
vti_filesize:IR|7897
vti_cachedlinkinfo:VX|S|/PartnerPortal/Images/tab-line.gif S|/PartnerPortal/Images/tab-right.gif S|/PartnerPortal/Images/tab-left.gif S|/PartnerPortal/Images/tab.gif S|/PartnerPortal/Images/tab-hover-right.gif S|/PartnerPortal/Images/tab-hover-left.gif S|/PartnerPortal/Images/tab-hover.gif S|/PartnerPortal/Images/tab-active-right.gif S|/PartnerPortal/Images/tab-active-left.gif S|/PartnerPortal/Images/tab-active.gif
vti_cachedsvcrellinks:VX|NSUS|file:///PartnerPortal/Images/tab-line.gif NSUS|file:///PartnerPortal/Images/tab-right.gif NSUS|file:///PartnerPortal/Images/tab-left.gif NSUS|file:///PartnerPortal/Images/tab.gif NSUS|file:///PartnerPortal/Images/tab-hover-right.gif NSUS|file:///PartnerPortal/Images/tab-hover-left.gif NSUS|file:///PartnerPortal/Images/tab-hover.gif NSUS|file:///PartnerPortal/Images/tab-active-right.gif NSUS|file:///PartnerPortal/Images/tab-active-left.gif NSUS|file:///PartnerPortal/Images/tab-active.gif
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_backlinkinfo:VX|PartnerPortal/AppList.aspx
