.noSetUpHeader{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
} 

.noSetUpLink{
    margin: auto;
    width: 50%;
    padding: 10px;
    
} 

.webinarSetUpHeader{
    display: 'flex';
    padding: 35px;
    text-align: center;
}

