.org-name-header {
    height: 20px;
    top: 1000px;
    padding-right: 100px;
    padding-top: 50px;
    top: 10px;
    left: 60px;
}

.blog-card-container {
    position: relative;
    padding-right: 150px;
    padding-top: 80px;
    padding-left: 1000px;
}

.newsletter-card-container {
    position: relative;
    left: 1000px;
    padding-right: 1150px;
}
.col-widget-container {
    width: 500px;
    padding-top: 200px;
}

.img-org-logo-header {
    max-width: 100px;
    max-height: 35px;
}

.col-analytics-container {
    right: 1000px;
    position: relative;
    right: 1525px;
    top: 20px;
    float: right;
}

.date-header {
    position: relative;
    bottom: 775px;
    left: 1500px;
}

.orgDash-d-flex {
    display: flex;
}

.mygap-1 {
    gap: 0.75rem;
}

.items-center {
    align-items: center;
}

.orgDash-mb-0 {
    margin-bottom: 0px;
}

.orgDash-mb-1 {
    margin-bottom: 0.25rem;
}

.orgDash-mb-2 {
    margin-bottom: 0.5rem;
}

.orgDash-color-black {
    color: rgb(46, 46, 46);
}

.orgDash-link-hover:hover {
    background-color: hsl(0, 0%, 93%);
    transition: 0.25s;
}

.orgDash-box-height {
    height: 11rem;
}

.orgDash-chart-height {
    height: 36rem;
}

.orgDash-cover {
    object-fit: cover;
}

.orgDash-latest-height {
    height: 30rem;
}

.orgDash-card-img-height {
    height: 60%;
}

.orgDash-table-text {
    overflow: hidden;
    max-width: 50ch;
    text-overflow: ellipsis;
    white-space: nowrap;
}
